4 Horsemen (by DarkManX)
Difficulty : 5
Bonus : 137
--------------------------------------------------------------
4 of your nations leaders have set out to seek the fabled Lost Forest. It has been said that vast cities populate the forest, a forest that was lost many years ago. Your job with the help of your horsemen is to reclaim your cities in the lost forest or destroy the whole world trying!  http://darkknights.allhere.com (Tip by Adun: Use porcupines to destroy walls)