Chinese and Norman Alliance
Difficulty : 3
Bonus : 56
------------------------------------------------------------------------
For two centuries the Chinese have lived as a solitary nation. They had no contact with any other races nor did they know of them, until 5 years ago, when a Chinese soldier came upon a small struggling village. The people of the village called themselves Normans. Over the past 5 years the Normans joined the Chinese and became a part of their nation. There now is a great danger in the land. Chinese scouts have reported new visitors the land. Visitors bent on making your land, theirs. Stop them at all costs..... You must destroy every kingdom by whatever means.(please visit the DARK KNIGHTS HOMEPAGE at http://darkknights.allhere.com)