Alliance and Defeat (by Real_KD)
Difficulty : 3
Bonus : 129
--------------------------------------------------------------
This scenario has 1F and 5H. You start with medium treasure, the computer aggressiveness is medium and difficult level is 129.  In this scenario, there is a strong Fryhtan, you should allie with the other human kingdoms to defeat it!
