After The Apocalypse (by Augustine)
Difficulty : 6
Bonus : 142
--------------------------------------------------------------
It is after the Apocalypse.  The global war has almost destroyed all human civilizations.  But now rumors are spreading of hideously mutated lifeforms.  Can you gather the pitiful remnants of mankind and unite them to stamp out these horrible monsters?