Arms Race (by Augustine)
Difficulty : 6
Bonus : 136
--------------------------------------------------------------
An arms race is on.  Your neighbors have discovered the Mega Weapons technology, and for the security of your nation you must have the technology too.