Atoll of Atrocity (by Bowen)
Difficulty : 4
Bonus : 125
--------------------------------------------------------------
Your ancestors and yourself have been enlocked by the evil of the world.  You have decided that you will not live any longer within this suffering.  Your mission is to destroy the atoll of Lishorrs that surronds your kingdom, then ally with The Kwyzan of Life.  After you have done this, your goal is to destroy The Kwyzan of Death.  You have 50 years until your death.  Created by Bowen.  E-mail me at LinkN64S@aol.com
