Mongols Rule, Bregmas Drool
Difficulty : 4
Bonus : 108
--------------------------------------------------------------
Mongols vs 2H + 2F, Standard level 4 game, difficulty = 108, except AI Agg = Very High