The Celtic Wars (by Bowen)
Difficulty : 67
Bonus : 33
--------------------------------------------------------------
You as the mighty King of the Normans, must destroy the barbarous Celtic Empire before they grow too strong.  You have a growing economy, and it will continue to grow.  You must destroy the mountain barrier between you and the celts as soon as you are ready to take on their wrath.  Please visit my site!!!  URL - http://members.aol.com/linkn64s/7Kingdoms2.html