Civ War (by Augustine)
Difficulty : 4
Bonus : 108
--------------------------------------------------------------
Your evil King has been deposed and has been banned to an island off the coast of Greece.  But during the process your army has been destroyed and your civilians are rioting.  They are threatening to destroy your entire civilization.  You know that there is a fabulous treasure hidden in a nearby forest.  Almost no one has ever entered the forest and returned alive.  Can you rebuild your kingdom and return it to its former greatness?