God Save The King (by DarkmanX)
Difficulty : 5
Bonus : 127
-----------------------------------------------------------------------
Your war with the Exovum fryhtans has reached a personal level. On a recent raid Exovum crouls kidnapped your King in hopes to destroy your kingdoms morale. You have just entered Fryhtan territory to rescue him. A land of death and oppression awaits you. The land contains other Fryhtan species besides the hated Exovum. Use diplomacy wisely and keep your eyes open. Either save your king in 20 years or destroy every Fryhtan kingdom..... please visit the DARK KNIGHTS URL = http://darkknights.allhere.com
