Greeks Start Over (by DarkmanX)
Difficulty : 5
Bonus : 117
-----------------------------------------------------------------------
After a huge war your kingdom is forced to rebuild after taking a severe beating from the other kingdoms that have intruded into your land. You must recapture your lost cities and rebuild your once great empire. Watch your back at all times. Things are not what they seem. There has been rumors that 3 frythan species have allied and are planning to decimate every human species in the territory. (Scenario by DarkmanX of the Dark Knights URL- http://darkknights.allhere.com) 