Normans Go On The Offensive
Difficulty : 4
Bonus : 77
-----------------------------------------------------------------------
After numerous attacks from Fryhtans and Ramses Egyptians your nation has decided it's time to stop running and start fighting. Your Norman empire has penetrated into their territory. Numerous hostile empires surround you. You must quickly build your military and destroy all empires before they destroy you. If you win, the land is yours. If you lose the battle, you've lost the war.