The New World (#2 by DarkManX)
Difficulty : 10
Bonus : 117
--------------------------------------------------------------
Your Greek Kingdom has discovered a new land! Unfortunately so have 5 other kingdoms. There is a mad dash to see who will add the territory to their kingdom. There have also been rumors among your oracles of a treasure somewhere in a mountain region. You must destroy all other kingdoms and add the territory to your own kingdom...(created by DarkManX visit the Dark Knights at http://darkknights.allhere.com
