Human Feast (by DarkmanX)
Difficulty : 4
Bonus : 99
--------------------------------------------------------------
These pathetic humans have prospered long enough, it is time we feast on their worthless society. Our Crouls have entered the human domain, enslave them, kill them, bring death to all.
