Godzilla (by Bowen)
Difficulty : 25
Bonus : 125
--------------------------------------------------------------
You are the people of Japan.  You thought that your ancestors had destroyed the terrible beast Godzilla.  Little did you know, Godzilla has laid eggs.  These eggs contain his offspring and it is fortold that you will destroy these evil creatures.
                                                              
Creator : Bowen