Hail to the Empire (by Morgan & Kokiri)
Difficulty : 4
Bonus : 40
--------------------------------------------------------------
The great Empire has to fall! All the small kingdoms have started wars to take down the biggest Kingdom ever.