He's My Hero (by Augustine)
Difficulty : 5
Bonus : 107
--------------------------------------------------------------
The Fryhtans have captured your hero Soghul and imprisioned him near the city of Kashgar.  It was once part of your mighty empire, but the Fryhtans have destroyed your fort, and now the town has gone independent.  You are concerned that traitors there will murder him.  You must either recapture the town of Kashgar or kill all his captors.