Mogol's Rule (by Augustine)
Difficulty : 4
Bonus : 108
--------------------------------------------------------------
Mongol vs 3H +2F.  Standard level 4 game, except fog is on, explored is off, and must research espionage.  A fun game.