Say Hello to Telo (by Augustine)
Difficulty : 5
Bonus : 129
--------------------------------------------------------------
Say hello to Telo, the 3rd Human Offensive Structure.  When Telo is being formal, he insists on being called Teledamnum.  As children, you and Spinner were good friends.  Now that you and he are grown, political realities require that you and your mighty Chinese army must destroy his Persian kingdom.