Oh! PU (by Augustine)
Difficulty : 5
Bonus : 129
--------------------------------------------------------------
PU stinks, if the other guy has them and you don't.  So now is a good time to meet the last Human Offensive Structure, affectionately known as PU, the Preuser.  You and Toggles were good friends when you were both children, but now the Mongol traitors have killed him and put the usurper Jochi in his place.  You and your Norman heroes have vowed to avenge his death by destroying all of the evil Mongol scum. 