Feeling Testy? (by Augustine)
Difficulty : 5
Bonus : 129
--------------------------------------------------------------
Are you feeling Testy today?  If you are, then here is a chance to meet the first
Human Offensive Structure, the Testudo.  Your Persians have vowed to obliterate the Celt
kingdom from the world.