Meet at Archie Bunker's Place (by Augustine)
Difficulty : 4
Bonus : 108
--------------------------------------------------------------
Here's a chance to meet Archie, the 2nd Human Offensive Structure.  Archie is sometimes
also known as Archimedetron.  King Sakoda Noburu and his secret Ninja warriers must
destroy the Indian empire of King Gurdeep.