I Spy: DarkManX
Difficulty : "hero"
Bonus : 138
--------------------------------------------------------------
After a long war your kingdom is reduced to rubble, your military is almost none exsistent, all your kingdoms subjects are dead or captured.
All you have is a camp, your king, and a spy. Use your spy wisely in the early stages of the game, for he is your most important asset, and will determine, your total destruction or your rebirth