Indian Bow Hunt (by Augustine)
Difficulty : 6
Bonus : 142
--------------------------------------------------------------
Your Indians have decided to go on a wild animal safari using only their bows.  What will they bag?  If they aren't careful, some one or some thing may bag them!