Kwyzan Wars (by Bowen)
Difficulty : 10
Bonus : 100
--------------------------------------------------------------
This is a grudge match between the fryhtans because one of them is responsible for the death of another's All High, the third fryhtan group was drawn into the battle because it happened to live where the other two decided to fight, but it starts off neutral towards both sides.

Creator: Bowen E-mail:LinkN64S@aol.com
Requester: MrJones E-mail:Crazy12703@aol.com