Magic Mountains (by Augustine)
Difficulty : 5
Bonus : 119
--------------------------------------------------------------
Your Carthaginian king has assembled a formidible force to conquer the world, but he has heard of a vast cache of magic weapons that give the bearers almost supernatural fighting abilities.  The only problem is that the weapons are hidden somewhere in the Magic Mountains.  His treasury is also low, but he has heard that a vast store of gold is also hidden somewhere in the mountains.  Find the weapons and the gold, then go out and conquer the world.