Mission Impossible (by DarkmanX)
Difficulty : 4
Bonus : 145
--------------------------------------------------------------
In a real battle espionage plays a large role in your success.  In this scenario, use your spies wisely, to increase your power. Micromanagement of military, economy, espionage, diplomacy should be practiced. Use espionage to make your enemies weaker while you get stronger is a good start. If are already experienced with espionage then you will find this scenario quite easy.

