Mongolian Struggle (by Alwee)
Difficulty : 8
Bonus : 90
--------------------------------------------------------------
After a long hard battle between all the Humans and Fryhtans, everyone came out losing, especially you.  It is up to you to aquire the Japanese Scroll of Power, and defeat all opposing rulers. You face this task with only a spy,a hero, and 2 wagons.  You better be resourceful. Can it be done??? Check out my home page @ http://dragonfists.cjb.net/