Battle of Xin Yang (scen. 1 of ?)
Difficulty : 3	
Bonus : 133
--------------------------------------------------------------
It's time for your nation to destroy the Chinese Kingdom and Capture their territories. Your Mongolian Hordes have entered the Chinese territory of Xin Yang, a dark land. You must destroy the Chinese Presence and capture the territory.(This scenario is the first of a pseudo campaign being created by DarkManX for more info goto http://darkknights.allhere.com)