Mongol Swarm (by DarkmanX)
Difficulty : 8
Bonus : 119
--------------------------------------------------------------
After hanging the heads of the Chinese on your walls it's time to expand your empire and bring death the Indians. These people are a road block in your way to rightfully conquering Asia. You must reclaim your kings stolen Aegis Field and teach the Indians a lesson by bringing death to their country. Take no prisoners.  All must die! This is the second scenario in the Mongols Conquer Asia and Europe pseudo campaign. Visit our site url=http://darkknights.allhere.com)