Isolated Exovums (by Nick)	
Difficulty : 6
Bonus : 133
------------------------------
Isolated from the rest of the world your kwyzan thrives for the taste of human blood.   Your only hope of survival is an ancient Mage Tor located in a forest to the north.  Transport your kwyzan and slay the humans. 