WHO'S THE BOSS?
0
0
-----------------
All Fryhtan Kwyzans have met after the complete annihilation of all human kingdoms, but things have to change.  Destroy all other Kwyzans to show who is the All High of All Fryhtans! 