GAUL: SECOND TIME LUCKY
0
0
------------------------------
While the fall of Rome was nearly met in 476, your empire has rebuit its self and is ready to conquer.  New Kingdoms have emerged in this land and many of the enemies of your glory days have migrated here.   Including the Vikings from the North.  Your Goal is to conquer all Gaul,  show those barbarians the might of Rome!