ALEXANDER THE NOT SO GREAT (by Nick)
0
0
-----------------------------------
So it turns out Alexander wasn't so great after all.  He didn't conquer Egypt, Persia or India.  All he conquered was bottles of wine and beer.  Your Challenge is to do what Alexander did in OUR history books, become the Lord Of Asia.  But you have to do something better, by defeating all kingdoms in 6 years. (instead of Alexander's 11 years) 