FRY IN BOOTS
0
0
----------------------
Immobile Grokkens are making the enslaved manufacture boots for their armies.  But Hey!, aren't the Bregmas the "fastest of Fryhtans"?   Shut their "wannabe" kwyzan down and collect a pair of boots for your All High.