The Octavian Wars (by Bowen)
122
22
------------------------------------------------------
You are Caesar's son Octavius.  You renounced your Roman heritage and have decided that you would follow in your father's footsteps.  Little do you know that your half brother, Marcvs Licinivs, has taken over the throne to Rome and is trying to achieve the same thing.  You have the secret Greek technology of the Mega Saw at your disposal.  Your goal is to destroy all uncivilized people and destroy your brother's kingdom.  You have untill January 1st 1055 which was when the 3 prophets predictd that you would die.