Paradise Lost (by Augustine)
Difficulty : 5
Bonus : 119
--------------------------------------------------------------
Your kingdom has been terribly weakened by war.  Most of your army has been destroyed.  All that remains is your King and some faithful spies.  You have heard rumors of a veritable Shangra La, complete with treasures, resources and fabulous cities.  You don't know if the rumors are true, but you have no hope except to send your spies off in an attempt to rediscover the lost paradise.