Pirate's Treasure (by Augustine)
Difficulty : 6
Bonus : 142
--------------------------------------------------------------
Your Viking raiders are out to conquer the world.  You have heard that a group of Carthaginian pirates have buried a fabulous treasure of money and weapons.  Can you find and recover the treasure before they do?