Six Shooter (by Augustine)
Difficulty : 6
Bonus : 142
--------------------------------------------------------------
Your Persians have developed the big gun.  They think they can now conquer the world.  What do you think? 