Superman Joins the Army (by Augustine)
Difficulty : 6
Bonus : 136
--------------------------------------------------------------
You have heard about an awesome technology that will turn your army into Supermen.  They will be invincible if you can just get your hands on it.  Does the technology really exist, or has your minister of war been smoking cactus needles again?  You shake your head in disbelief.  Ever since he came back from those trips to the mountains...