Superhero Library (by Augustine)
Difficulty : 0
Bonus : 0
--------------------------------------------------------------
This is NOT a scenario.  It is a superhero libary.  Ready for use in your scenario.
33 superheroes (max combat = 307).  26 superleaders (max leader = 148).
3H + 3F, Med AI aggression,  random = seldom.