Super Hero Library 1 (by Augustine)
Difficulty : 0
Bonus : 0
--------------------------------------------------------------
2nd version of superhero library scenario.  This one includes all heroes, both infantry
and special units.  Ever needed a 1200+ hit point unit?  How about a 140+ leader?
Now they are yours to use or abuse.