Three Kings (by Morgan)
Difficulty : 4
Bonus : 40
--------------------------------------------------------------
You are Roman. You have great reputation and you command some heroes. Your enemys are the Greeks, who are great in science, and the Normans, who are great in economy. You have to defeeat them all! 