The Trade Alliance
Difficulty : 8
Bonus : 85
--------------------------------------------------------------
In the recent months, advanced scouts have discovered a mineral rich area, within a hollowed area of a major mountain range and brought back not only all the riches they were capable of carrying out by themselves, but also items of great power.  They claimed that there was much more still there and then went well on their way to retire in luxury.
You and your small band of expert miners have been sent to the site for verification and to establish your Kingdom's rulership over the land.  You had been hoping to be the first at the site, but while enroute, you spy several other unfriendly banners in the air.  Word has already spread far and wide about this newfound discovery and tensions run high as the rulers and their Kingdoms converge.  Surprisingly, spirits and expectations run high and for the first time in many generations, the many nationalities have decided to settle their differences by formally creating the Trade Alliance.  
Watch for treachery of course, but world peace may finally actually be here.  Only time will tell as you dig deeper into the land and each other.


