The Ungrateful Gods(By: Alwee)
Difficulty : 5
Bonus : 125
--------------------------------------------------------------
The Egyptian Gods Re and Renutet have turned there backs on you, because of lack of tribute.  Re God of sun, no longer brings light to yours lands.  Renutet God of Harvest leaves your land bare and dry.  You have two mines, but you need food!!!  Your enemies are aware of your misfortune and plan to take advantage of it.  Broke and Hungry, what are going to do?