Unseen Death (by DarkmanX)
Difficulty : 5
Bonus : 120
--------------------------------------------------------------
Your long war with a Fryhtan Kwyzan from the north has to end. Your Japanese Emperor has decided to lead his personal guard of veteran ninjas into their territory to eliminate them. You also need to capture two soldiers that betrayed you and kill them. The future of your empire depends on this battle......